[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
gunicorn = "*"
async-downloader = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
